{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "modules": true,
        "classes": true,
        "arrowFunctions": true
    },
    "rules": {
        "semi": 2,
        "quotes": 0
    },
    "env": {
        "browser": true
    }
}
